body {
    margin-top:5px;
}

a {    
    text-decoration: none;
}

a:link {
    color: #666;
}

a:hover {
    color: #888;
}

a:visited {
    color: #999;
}

.main-links ul {
    list-style-type: none;
    align:right;
}

.main-links li {
    text-align:right;
    padding-bottom: 10px;
    padding-right: 20px
}

.main-links li:first-letter {
    color: #009900;
}

.main-links a {
    font-family: Helvetica Neue, "Helvetica", Arial, Verdana, sans-serif; 
    font-size: medium;
    color: #333;
    text-decoration: none;
}

.main-links a:hover {
    font-family: Helvetica Neue, "Helvetica", Arial, Verdana, sans-serif; 
	font-size: medium;
    color: #555;
    text-decoration: none;
}

.masthead {
    font-family: Helvetica Neue, "Helvetica", Arial, Verdana, sans-serif; 
	margin-bottom: 0em;
	text-align:right;
}
.description {
	margin-top: 0em;
	margin-bottom: 0em;
	text-align:right;
	font-style: italic;
    font-family: Helvetica Neue, "Helvetica", Arial, Verdana, sans-serif; serif;
    font-size: 12px; 
	color: #111;
}
.openyoucontainer {
    width:61em;
    margin-right: auto;
    margin-left: auto;
}

.openyoupage {
}

.content {
    width: 42em;
    font-family: Helvetica Neue, "Helvetica", Arial, Verdana, sans-serif; 
    font-size: 14px; 
    line-height: 24px; 
	font-size: 15px;
    text-align: left;
    background-color: #FFFFFF;
    float: right;
}

.sidebar-header-image {
    width:267px;
    height:300px;
	float:right;
}

.sidebar img {
    border: 0px;
}

.header-image img {
    background: #009900;
    width:600px;
    height:366px;
 }

.sidebar {
    width : 19em;
    float : left;
}

.sidebar-sub {
    font-size: 10px; 
    font-family: Helvetica Neue, "Helvetica", Arial, Verdana, sans-serif; 
	color: #111;
    text-align: right;
    margin-bottom: 20px;
    margin-right: 20px;
}

.sidebar-sub h1 {
    font-size: 11px;
    font-weight: normal;    
}

.sidebar-sub h1:first-letter {
    color: #009900;
}

.sidebar-sub ul {
    list-style-type: none;
    align:right;
}

.sidebar-sub li {
    margin-bottom: 5px;
}
    
.post {
    margin-bottom: 50px;
}

.post-header {
    display: table;
    font-size: large;
    font-weight: bold;
    width: 100%;
}

.post-header a {
    text-decoration: none;
}

.post-header a:visited {
    color: #666;
}

.post-header a:hover {
    color: #888;
}

.post-title {
    display: table-cell;
    text-align: left;    
    vertical-align: center;
}

.post-title:first-letter {
    color: #009900;
}

.post-metadata {
    display: table-cell;
    font-size: x-small;
    text-align: right;
    vertical-align:top;
    margin: 0px;
    padding: 0px;
}

.post-metadata p {
    margin:0px;
    padding:0px;
}

.copyright {
    clear:both;
    font-size: x-small;
    color: #333;
    text-align: center;
    padding-top:10px;
}

.copyright p {

    line-height: 0;
}

.lib-table {
    font-size: x-small;
    font-family: Helvetica Neue, "Helvetica", Arial, Verdana, sans-serif; 
}

.lib-table th {
    border: 1px solid #000;
    font-weight: bold;
}

.lib-table-info td {
    vertical-align: top;
    padding: 5px;
}

.lib-table-name {
    font-weight: bold;
}

.lib-table-spacer {
    background: #000;
    height:1px;
    border:0px;
    padding:0px;
    width:100%;
    margin-top:5px;
    margin-bottom:5px;
}

.archivelist ul {
    list-style-type: none;
}

.archivelist li {
    margin-bottom: 5px;
}
