---
layout: default
title: Open Buddha
---

<div id="home">
  <!-- Show three posts on front page -->
    {% for post in site.posts limit:3 %}
<article class="hentry">
  <!-- Date and time of post -->
  <time datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%S-08:00' }}">{{ post.date | date: "%d %B" }}</time>  
  <!-- Post title -->
  <h2 class="entry-title"><a class="post_title" href="{{ post.url }}">{{ post.title }}</a></h2>
  <!-- Post content -->
  <span class="entry-content">
  {{ post.content }}
  </span>
  {% if post.social %}
  <span id="social">
  <!-- Post Facebook button -->
  <script type="text/javascript">
  //<![CDATA[
  document.write('<fb:like href="{{ site.url }}{{ post.url }}" send="true" layout="button_count" width="450" show_faces="true" colorscheme="dark" font="lucida grande"></fb:like>');
  //]]>
  </script>
  <!-- Post comment count -->
  {% if post.comments %}
  <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ page.date | date_to_xmlschema }}"></a>
  {% endif %}
  <!-- Post Tweet Button -->
  <span style="float:right;">
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ post.url }}" data-text="{{ post.title }} -" data-count="none" data-via="{{ site.twitter_name }}">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></span>
  </span>
  {% endif %}
  <br/>
</article>
    {% endfor %}
    	    
<!-- Old posts -->
<div><a href="archive.html" style="font-size:200%">Post Archive</a></div>
</div>
