<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about/index.html' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl }}">
		<img src="http://www.gravatar.com/avatar/{{ site.author_gravatar }}.png?s=80" class="gravatar">
	</a>
	<span class="logo-prompt">{{ prompt }}</span>
</aside>
	 <p style="text-align:center"><a href="/resources/index.html">Resources</a> | <a href="/what-is-open-source-buddhism.html">What is Open Source Buddhism??</a></p>