<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:og="http://ogp.me/ns#" 
      xmlns:fb="https://www.facebook.com/2008/fbml" 
      xmlns:hcard="http://www.w3.org/2006/03/hcard"> 

<head>
   <meta charset="UTF-8" />
   <title>{{ page.title }}</title>
   
   <!-- Atom Feed -->
   <link href="{{ site.url }}/atom.xml" rel="alternate" title="Open Buddha" type="application/atom+xml" />

   <!-- CSS -->
   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />

   <!-- Open Graph -->
   <meta property="og:title" content="{{ page.title }}" />
   <meta property="og:type" content="blog" />
   <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
   <meta property="og:site_name" content="Open Buddha" />
   <meta property="og:description" content="Open Source Buddhism, Technology, and Geekery" />
   <meta property="og:image" content="/images/new_rt.png" />
   <meta property="og:locality" content="Oakland" />
   <meta property="og:region" content="CA" />
   <meta property="og:postal-code" content="94612" />
   <meta property="og:country-name" content="United States" />
   <meta property="og:email" content="albill@openbuddha.com" />

   <!-- SEO -->
   <meta name="keywords" content="buddhism, zen, open source buddhism, mozilla, firefox, hacking, hackerspaces, oakland, california, oakland california, bay area, nerd, geek" />
   <meta name="description" content="Open Source Buddhism, Technology, and Geekery" />
   <meta name="author" content="Al Jigen Billings" />
   <meta name="robots" content="all" />

   <!-- iPhone -->
   <meta name="apple-mobile-web-app-capable" content="yes" />
   <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
   <meta name="viewport" content="width = device-width, initial-scale = 0.5, maximum-scale = 5" />
   
   <!-- jQuery and externals -->
   <script type="text/javascript" src="/js/script.min.js"></script>
</head>
<body>
    <div class='openyoucontainer'>
      <div class='openyoupage'>
	<div class='sidebar'>
	  <div class='sidebar-header-image'>
	    <a href='/'><IMG SRC='/images/steampunk-manjushri.png' /></a>
	  </div>
	  <div class='main-links'>
	    <ul>
	      <li><a href=/index.html>Open Buddha</a></li>
	      <li><a href="/about-me.html">About</a></li>
	      <li><a href="contact.html">Contact</a></li>
	      <li><a href="/resources.html">Resources</a></li>
              <li><a href="/archive.html">Archive</a></li>
              <li><a href="/what-is-open-source-buddhism.html">Open Source Buddhism</a></li>
	    </ul>
	  </div>
	  <div class='sidebar-sub'>
	    <H1>RSS</H1>
	    <A HREF="http://feeds.feedburner.com/openbuddha"><IMG SRC="/images/rss2.png" /></A>
	  </div>
	</div>
	<div class='content'>
          <h2>Open Buddha</h2>
	  {{content}}
	</div>
      </div>
	<div class='copyright'>
	  <p>Copyright 2011 <A HREF='http://www.openbuddha.com'>Al Billings</A> - Logo by <a href="http://thekamikazen.com/">The KamikaZEN</a></p>
	</div>
    </div>
  </BODY>
</HTML>
