<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:og="http://ogp.me/ns#" 
      xmlns:fb="https://www.facebook.com/2008/fbml" 
      xmlns:hcard="http://www.w3.org/2006/03/hcard"> 

<head>
   <meta charset="UTF-8" />
   <title>{{ page.title }}</title>
   
   <!-- Atom Feed -->
   <link href="{{ site.url }}/atom.xml" rel="alternate" title="Open Buddha" type="application/atom+xml" />

   <!-- CSS -->
   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />

   <!-- Open Graph -->
   <meta property="og:title" content="{{ page.title }}" />
   <meta property="og:type" content="blog" />
   <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
   <meta property="og:site_name" content="Open Buddha" />
   <meta property="og:description" content="Open Source Buddhism, Technology, and Geekery" />
   <meta property="og:image" content="/images/steampunk_manjushri-new.gif" />
   <meta property="og:locality" content="Oakland" />
   <meta property="og:region" content="CA" />
   <meta property="og:postal-code" content="94608" />
   <meta property="og:country-name" content="United States" />
   <meta property="og:email" content="albill@openbuddha.com" />
   <meta property="lame" content="Open Buddha" />

   <!-- SEO -->
   <meta name="keywords" content="buddhism, zen, open source buddhism, mozilla, firefox, hacking, hackerspaces, oakland, california, oakland california, bay area, nerd, geek" />
   <meta name="description" content="Open Source Buddhism, Technology, and Geekery" />
   <meta name="author" content="Al Jigong Billings" />
   <meta name="robots" content="all" />

   <!-- iPhone -->
   <meta name="apple-mobile-web-app-capable" content="yes" />
   <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
   <meta name="viewport" content="width = device-width, initial-scale = 0.5, maximum-scale = 5" />
   
   <!-- jQuery and externals -->
   <script type="text/javascript" src="/js/script.min.js"></script>
</head>
<body>
    <div class='openyoucontainer'>
      <div class='openyoupage'>
	<div class='sidebar'>
	  <div class='sidebar-header-image'>
	    <a href='/'><img src='http://farm5.static.flickr.com/4086/4993198495_83963dfbc7.jpg' /></a>
	  </div>
          <h1 class="masthead"><a href="/">Open Buddha</a></h1>
          <p class="description"><em>Open Source Buddhism, Technology, and Geekery</em></p>
	  <div class='main-links'>
	    <ul>
	      <li><a href="/about-me/">About Me</a></li>
	      <li><a href="/ordination">Precepts and Ordination</a></li>
	      <li><a href="/what-is-open-source-buddhism/">Open Source Buddhism</a></li>
	      <li><a href="/resources/">Resources</a></li>
	      <li><a href="/archive/">Archive</a></li>
	      <li><a href="/license/">License</a></li>
	    </ul>
	  </div>
	  <div class='sidebar-sub'>
	    <ul>
		<li>
			<a target="_blank" rel="email" href="mailto:albill@openbuddha.com"><img alt="Email Me" style="border-width:0"  height="32" width="32" src="/images/email-32x32.png" /></a>  
			<a href="http://feeds.feedburner.com/openbuddha"><img src="/images/feed-32x32.png" style="border-width:0" height="32" width="32" /></a>
		</li>
		<li>
			<a href="http://facebook.com/albill"><img src="/images/facebook-32x32.png" style="border-width:0" height="32" width="32" /></a>  
			<a target="_blank" rel="twitter" href="http://twitter.com/openbuddha"><img alt="Follow me on Twitter" style="border-width:0"  height="32" width="32" src="/images/twitter-32x32.png" /></a>  
			<a href="http://www.linkedin.com/in/albill"><img src="/images/linkedin-32x32.png" style="border-width:0" height="32" width="32" /></a>  
		</li>
		<li>
			<a href="http://www.flickr.com/photos/albill/"><img src="/images/flickr-32x32.png" style="border-width:0" height="32" width="32" /></a>
			<a href="skype:openbuddha"><img src="/images/skype-32x32.png" style="border-width:0" height="32" width="32" /></a>  
			<a href="http://github.com/albill"><img src="/images/github-32x32.png" style="border-width:0" height="32" width="32" /></a>
		</li>
	    </ul>
	  </div>
	</div>
	<div class='content'>
	  {{content}}
	</div>
      </div>
	<div class='copyright'>
	  <p><a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="/images/cc.png" /></a></p>
	  <p>Powered by <a href="http://github.com/mojombo/jekyll">Jekyll</a>. Hosted on <a href="http://github.com/">Github</a>. Logo by <a href="http://thekamikazen.com/">The KamikaZEN</a>.</p>
	</div>
    </div>
  </BODY>
</HTML>
